noderedflow.json
[{"id":"2e9e59d9.e7ebe6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1183d4c9.3922ab","type":"ui_form","z":"2e9e59d9.e7ebe6","name":"","label":"","group":"e313de9f.8f523","order":1,"width":13,"height":2,"options":[{"label":"Enter the query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":140,"wires":[["c352ca79.a42618"]]},{"id":"c352ca79.a42618","type":"function","z":"2e9e59d9.e7ebe6","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":260,"wires":[["d9b73cf8.7762d"]]},{"id":"b905737e.7e3a","type":"function","z":"2e9e59d9.e7ebe6","name":"","func":"msg.payload = msg.payload.context.webhook_result_1.passages;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["210c85c5.74d0da","246e6fa3.4fdad"]]},{"id":"246e6fa3.4fdad","type":"ui_text","z":"2e9e59d9.e7ebe6","group":"e313de9f.8f523","order":2,"width":"25","height":"7","name":"","label":"Response","format":"{{msg.payload}}","layout":"col-center","x":720,"y":340,"wires":[],"icon":"node-red/comment.svg"},{"id":"d9b73cf8.7762d","type":"watson-conversation-v1","z":"2e9e59d9.e7ebe6","name":"","workspaceid":"7cd5bd40-e320-47aa-83cc-1bc0eb6f2065","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6332f67d-9f86-447a-a0cf-a009c4026bae","timeout":"","optout-learning":false,"x":320,"y":160,"wires":[["b905737e.7e3a","641aae33.4c915"]]},{"id":"210c85c5.74d0da","type":"debug","z":"2e9e59d9.e7ebe6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":220,"wires":[]},{"id":"641aae33.4c915","type":"debug","z":"2e9e59d9.e7ebe6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":120,"wires":[]},{"id":"e313de9f.8f523","type":"ui_group","z":"","name":"CoffeeBot","tab":"8441a162.0cebc","order":3,"disp":true,"width":"25","collapse":false},{"id":"8441a162.0cebc","type":"ui_tab","z":"","name":"CoffeeBot","icon":"dashboard","disabled":false,"hidden":false}]
